@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .noise-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 50;
    opacity: 0.05;
  }
  
  .noise-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: url(#noise);
  }

  .text-balance {
    text-wrap: balance;
  }
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}
